<!DOCTYPE html>
<html lang="en">
<body>

<table style="border:0;background-color:#efefef;padding-left:20px;padding-right:20px" width="640" cellpadding="0" border="0" cellspacing="0">
<tbody>
        <tr><td>
                <table style="border:0;background-color:#ffffff;margin-top:0" width="600" cellpadding="0" border="0" cellspacing="0">
                <tbody>
                        <tr><td height="60" style="font-size:12px;color:#787878;font-family:Arial;padding:10px 30px 10px 0" width="600" align="left" valign="middle" bgcolor="#efefef">
                        <b><span style="color:#454545">Appymeteo</span></b><br>
                        Messaggio dall'applicazione a valenza scientifica Appymeteo.
                        </td>
                        <td width="60" bgcolor="#efefef"><img src="http://appymeteo.org/logo-mail.jpg" /></td></tr>
                </tbody></table>
                <table style="border:1px solid #dddddd;background-color:#ffffff" width="600" cellpadding="0" border="0" cellspacing="0">
                <tbody>
                        <tr><td colspan="2" style="padding:30px 30px 0 30px;font-family:Arial;color:#444444;font-size:14px;line-height:1.5em" align="left" valign="top">
                        <div style="font-size:14px;line-height:1.6em;color:#444444;text-align:left" dir="ltr">{{ content }}</div>
                        </td></tr>
                        <tr><td colspan="2" style="padding:15px"></td></tr>
                </tbody>
                </table>
                <font color="#888888">
                <table style="background-color:#efefef;border:0;border-bottom:0;margin-top:20px" width="600" cellpadding="0" border="0" cellspacing="0">
                        <tbody><tr>
                        <td style="color:#707070;font-family:Arial;font-size:12px;line-height:125%;text-align:center;padding:20px 0">
                        <div>Appymeteo &egrave; un'applicazione a carattere scientifico &middot; Per favore non rispondere direttamente a questa mail<br> Per maggiori informazioni contatti <a href="mailto:info@appymeteo.org">info@appymeteo.org</a></div>
                        </td>
                        </tr><tr>
                        <td style="color:#808080;font-family:Helvetica;font-size:10px;line-height:150%;padding-top:0;padding-right:20px;padding-bottom:20px;padding-left:20px;text-align:center" valign="top"><em>Copyright (c) 2014</em> Appymeteo&nbsp;|&nbsp;di Luciano Canova e Andrea Biancini
                        </td>
                        </tr></tbody>
                </table>
                </font>
        </td></tr>
        </tbody></table>

</body>
</html>
