<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>appymeteo</title>
<link rel="stylesheet" type="text/css" href="css/confirm_user.css" />

</head>
<body bgcolor="#fed900">
<div id="linea"><img src="img/linea_bianca.png" width="4" height="130" alt="linea" /></div>
<div id="contenitore">
  <div id="logo"><img src="img/appymeteo.png" width="294" height="85" alt="appymeteo" /></div>
</div>
<div id="cartello"><img src="img/cartello.png" width="800" height="554" alt="appymail" /></div>
<div id="icon"><img src="img/icon.png" width="800" height="108" alt="icon" /></div>
<div id="testo">
  <p>CONGRATULAZIONI {{ name }}<br /><br />
    La registrazione a appymeteo è stata effettuata correttamente</p>
  <br />
ACCEDI SUBITO utilizzando la tua email {{ email }} e la tua password!</p>
</div>
<div id="lineadx"><img src="img/lineadex.png" width="4" height="98" /></div>
</body>
</html>